<h2>Adicionar Técnico</h2>


<div class="criarTecnico">
    <button class="btn btn-primary" (click)="addingTecnico = true">Adicionar Técnico</button>
    <form *ngIf="addingTecnico" (submit)="addTecnico()">
        <input [(ngModel)]="userId" name="userId" type="text" placeholder="Id do Utilizador" /><br>
        <button class="btn btn-primary" type="submit">Registar</button><br>
    </form>
</div>


<h2>Lista de Técnicos</h2>
<div class="conteiner">
    <div class="table-div">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Primeiro Nome</th>
                    <th scope="col">Último Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of tecnicos; let i=index;">
                    <td (click)="tecnicoInfo(t._id)" title="Clica para veres/esconderes informações deste técnico!">
                        {{ t.primeiroNome}}</td>
                    <td>{{ t.ultimoNome }}</td>
                </tr>
            </tbody>
        </table>


    </div>


    <div class="info" *ngIf="viewingTecnico">
        <p>Nome do Técnico: {{currentTecnico.primeiroNome}} {{currentTecnico.ultimoNome}}</p>
        <p>ID do Técnico: {{currentTecnico._id}}</p>
        <p>ID de usuário do Técnico: {{currentTecnico.utilizadorId}}</p>
    </div>






</div>