<header *ngIf="user">
    <button class="btn btn btn-success" routerLink="/">Homepage</button>
    <div id="accInfo">
        <div ngbDropdown class="d-inline-block">
            <button  class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{user.nome}}</button >
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button routerLink="/changePassword" ngbDropdownItem>Editar Password</button>
            </div>
        </div>
        <button (click)="logout()" class="btn btn-danger">Logout</button>
    </div>
</header>
<router-outlet></router-outlet>