  header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Lucida Console", Courier, monospace;
    height: 18vh;
    width: auto;
    background-color: rgba(102,178,255,0.8);
    border-radius: 10%;
    color: black;
    text-align: center;
    font-size: 100%; 
    line-height: 100%;
    
    overflow: visible;
    padding: 1% 1%;
    white-space: nowrap;
  }

  #accInfo{
    display:flex;
    flex-direction: row;
    color: black;
    margin-right: 1%;
    justify-content: center;
    align-items: center;
    
  }
  .dropdown{
    margin-right: 10%;
    white-space: nowrap;
  }

  a{
    justify-content: center;
    align-items: center;
    line-height: 200%;
    
  }