<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h1>Gestão de Pedidos</h1>
    <div>
        <br>
        <br>

        <h2>Pedido Add</h2>

        <label>nmrCC:
            <input [(ngModel)]="pedido.nmrCC" placeholder="nmrCC" />
        </label><br>
        <label>informacao:
            <input [(ngModel)]="pedido.informacao" placeholder="informacao" />
        </label><br>
        <label>estadoUtilizador:
            <select input [(ngModel)]="pedido.estadoUtilizador">
                <option value="infetado">Infetado</option>
                <option value="suspeito">Suspeito</option>
                <option value="saudavel">Saudável</option>
                </select>
        </label><br>
   
    <button (click)="addPedido()">Save</button>

    </div>
    
    <ul class="pedidos">
        <li *ngFor="let p of pedidos; let i=index;">
            <span (click)="pedidoInfo(p._id)" title="Clica para veres/esconderes informações deste pedido!">ID do pedido: {{p._id}}&nbsp; &nbsp;</span>
            
            <button (click)="delete(p._id)">Remover pedido</button>
        </li>
        
    <div *ngIf="viewingPedido">
        <p>ID do Pedido: {{currentPedido._id}}</p>
        <p>nmrCC do usuário do pedido: {{currentPedido.nmrCC}}</p>
        <p>Informação do pedido: {{currentPedido.informacao}}</p>
        <p>Estado do utilizador deste pedido: {{currentPedido.estadoUtilizador}}</p>
        <p>Estado do teste deste pedido: {{currentPedido.estadoTeste}}</p>
        <p>Resultado do teste deste pedido: {{currentPedido.resultadoTeste}}</p>
        <p>Foi dado upload com os resultados do teste deste pedido? {{currentPedido.havePDF}}</p>
        <button (click)="atualizarPedido = true">Atualizar este pedido</button>
    </div>

    <form *ngIf="atualizarPedido" (submit)="update(currentPedido._id)">
        <h5>Atualizar pedido {{currentPedido._id}}</h5>
        <label>informacao:
            <input [(ngModel)]="pedido.informacao" name="informacao" placeholder="informacao" />
        </label><br>
        <label>estadoUtilizador:
            <select input [(ngModel)]="pedido.estadoUtilizador" name="estadoUtilizador">
                <option value="infetado">Infetado</option>
                <option value="suspeito">Suspeito</option>
                <option value="saudavel">Saudável</option>
                </select>
        </label><br>

        <label>estadoTeste: 
            <select input [(ngModel)]="pedido.estadoTeste" name="estadoTeste">
                <option value="por agendar">por agendar</option>
                <option value="agendado">agendado</option>
                <option value="finalizado">finalizado</option>
            </select>
        </label>
<br>
        <label>resultadoTeste:
            <select input [(ngModel)]="pedido.resultadoTeste" name="resultadoTeste">
                <option value="indefinido">indefinido</option>
                <option value="positivo">positivo</option>
                <option value="negativo">negativo</option>
            </select>

        </label>
        <br>
        <button type="submit">Save</button><br>


    </form>
    
    </ul>

    


    


    



</body>

</html>