<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p *ngIf="invalidInput" style="color:red">Argumentos inválidos!</p>
    <form class="mudarPasse updateForm">
        <input [(ngModel)]="currentPassword" name="currentPassword" type="password" placeholder="Insir a Password Atual">
        <input [(ngModel)]="newPassword" name="newPassword" type="password" placeholder="Insira a Nova Password">
        <button class="btn btn-primary" (click)="changePassword()">Atualizar</button>
    </form>
</body>

</html>