.alerta{
    text-align: center;
}

body{
    background-image: url("https://media-manager.noticiasaominuto.com/1920/naom_5e7dd98030cec.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0vw -10vh;
}

.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.box{
    background-color: rgba(102,178,255,0.9);
    padding:5%;
    border-radius: 20%;
    -webkit-box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.75);
}
.box-reg{
    background-color: rgba(102,178,255,0.8);
    padding:5%;
    border-radius: 10%;
    -webkit-box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px 9px rgba(0,0,0,0.75);
}

form{
    display: flex;
    flex-direction: column;

}

.buttons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width:100%;
}

input{
    width: 100%;
}

input:invalid:required {
    border-color: #900;
    background-color: #FDD;
}

input:valid {
    border: 2px solid black;
  }