<h2>Adicionar Testes</h2>
<div class="criarTeste">
    <button class="btn btn-primary" (click)="addingTeste = true">Adicionar Teste</button>
    <form *ngIf="addingTeste" (submit)="addTeste()">
        <input type="text"><br>
        <button class="btn btn-primary" type="submit">Registar</button><br>
    </form>
</div>


<h2>Lista de Testes</h2>
<div class="conteiner">
    <div class="table-div">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">nmrCC</th>
                    <th scope="col">Apagar Teste</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of testes; let i=index">
                    <td (click)="testeInfo(t._id)" title="Clica para veres/esconderes informações deste teste!">
                        {{ t.nmrCC}} </td>
                    <td (click)="deleteTeste(t._id)"> <button class="btn btn-primary">Apagar</button></td>
                </tr>
            </tbody>
        </table>
        <div class="paginacao">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
            <select class="custom-select" [(ngModel)]="pageSize">
                <option [ngValue]="5">5/página</option>
                <option [ngValue]="10">10/página</option>
                <option [ngValue]="20">20/página</option>
            </select>
        </div>

    </div>


    <div class="info" *ngIf="viewingTeste">
        <p>Data do Teste: {{currentTeste.dia}}/{{currentTeste.mes}}/{{currentTeste.ano}}
            Hora:{{currentTeste.hora}}:{{currentTeste.minuto}}</p>
        <p>Nr CC do Utilizador: {{currentTeste.nmrCC}}</p>
        <p>Estado do Teste : {{currentTeste.estadoTeste}} </p>
        <p>Resultado do Teste : {{currentTeste.resultadoTeste}}
            <button *ngIf="atualizar == false" class="btn btn-primary" type="button"
                (click)="atualizar = true">Atualizar</button> </p>
    </div>

    <form *ngIf="atualizar" (submit)="update()" class="updateForm">
        <select [(ngModel)]=novoEstado name="estado">
            <option value="Infetado">Infetado</option>
            <option value="Suspeito">Suspeito</option>
            <option value="Saudável">Saudável</option>
        </select>
        <button class="btn btn-primary" type="submit">Atualizar</button><br>
    </form>
</div>