.table{ 
    margin:3%;
    width: 47%;
}

.info{
    margin:3%;
    display: flex;
    flex-direction: row;
    margin:3%;
    width: 47%;
}

h2{
    text-align: center;
    margin-top: 3%;
}

.paginacao{
    display: flex;
    flex-direction: row;
    margin:3%;
    width: 47%;
}

