<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Lista de utilizadores</h2>
<div class="conteiner">
    <div class="table-div">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Número de CC</th>
                    <th scope="col">Primeiro Nome</th>
                    <th scope="col">Último Nome</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of utilizadores; let i=index">
                    <td (click)="utilizadorInfo(u._id)" title="Clica para veres/esconderes informações deste user!">
                        {{ u.nmrCC}} </td>
                    <td>{{ u.primeiroNome}}</td>
                    <td>{{ u.ultimoNome }}</td>
                </tr>
            </tbody>
        </table>
        <div class="paginacao">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
            <select class="custom-select" [(ngModel)]="pageSize">
                <option [ngValue]="5">5/página</option>
                <option [ngValue]="10">10/página</option>
                <option [ngValue]="20">20/página</option>
            </select>
        </div>
    </div>
    <div class="info" *ngIf="viewingUtilizador">
        <div>
            <p>Nome do Utilizador: <span>{{currentUtilizador.primeiroNome}} {{currentUtilizador.ultimoNome}}</span></p>
            <p>ID do Utilizador:  <span>{{currentUtilizador._id}}</span></p>
            <p *ngIf="user.role=='ADMIN'">Numero de testes: <span>{{currentUtilizador.NumeroTestes}}</span></p>
            <p>Estado do utilizador : <span>{{currentUtilizador.estado}} </span>
                <button *ngIf="atualizar == false" class="btn btn-primary" type="button"
                    (click)="atualizar = true">Atualizar</button> 
            </p>
        </div>
        <form *ngIf="atualizar" (submit)="update()" class="updateForm">
            <select [(ngModel)]=novoEstado name="estado">
                <option selected value="Infetado">Infetado</option>
                <option value="Suspeito">Suspeito</option>
                <option value="Saudável">Saudável</option>
            </select>
            <br>
            <button class="btn btn-primary" type="submit">Atualizar</button><br>
            <button *ngIf="atualizar == true" class="btn btn-danger" type="button"
                    (click)="atualizar = false">Cancelar</button>
        </form>
    </div>
</div>
</body>
</html>


