<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <h3>Bem vindo {{user.nome}}</h3>
    <h4>User loggado com a role {{user.role.toLowerCase()}}</h4>

    <br>
    
    <a routerLink="/pedidos"><button type="button">Pedidos</button></a>

    <a routerLink="/testes"><button *ngIf="havePremission('TECNICO')" type="button">Testes</button></a>

    <a routerLink="/utilizadores"><button *ngIf="havePremission('TECNICO')" type="button">Utilizadores</button></a>

    <a routerLink="/tecnicos"><button *ngIf="havePremission('ADMIN')" type="button">Técnicos</button></a>

    <a routerLink="/admins"><button *ngIf="havePremission('ADMIN')" type="button">Admins</button></a>
    
</body>

</html>