<!DOCTYPE html>
<html>

<head>

</head>

<body>
        <div class="infoDiv">
                <div class="texto">
                        <h3 class="textoShadow">Bem-vindo {{user.nome}}</h3>
                        <h4 class="textoShadow">Estás logado como
                                {{user.role.toLowerCase().charAt(0).toUpperCase() + user.role.toLowerCase().slice(1)}}
                        </h4>
                </div>

                <div class="navBar">
                        <button routerLink="/pedidos" class="btn btn-dark" type="button">Pedidos</button>
                        <button routerLink="/utilizadores" class="btn btn-warning" *ngIf="havePremission('TECNICO')"
                                type="button">Utilizadores</button>
                        <button routerLink="/testes" class="btn btn-info" *ngIf="havePremission('TECNICO')"
                                type="button">Testes</button>
                        <button routerLink="/tecnicos" class="btn btn-success" *ngIf="havePremission('ADMIN')"
                                type="button">Técnicos</button>
                        <button routerLink="/admins" class="btn btn-secondary" *ngIf="havePremission('ADMIN')"
                                type="button">Admins</button>
                </div>
        </div>
        <div class="texto2">
                <h4 *ngIf="havePremission('ADMIN')" class="textoShadow">Número de infetados: {{numeroInfetados}}</h4>
        </div>
        <div id="chartContainer" *ngIf="havePremission('ADMIN')"></div>
        <footer *ngIf="havePremission('ADMIN')" id="adminView">
                <p>Trabalho PAW Grupo 21 © | João Marques, Miguel Silva, Miguel Cabeleira</p>
        </footer>
        <footer *ngIf="havePremission('ADMIN') == false" id="otherView">
                <p>Trabalho PAW Grupo 21 © | João Marques, Miguel Silva, Miguel Cabeleira</p>
        </footer>
</body>

</html>