<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <h3>Bem vindo {{user.nome}}</h3>
    <h4>User loggado com a role {{user.role}}</h4>

    <br>
    <br>
    <h5>Gestão dos Pedidos</h5>
    <br>
    <button type="button">Fazer pedido</button>

    <p><button type="button">Editar Pedido</button></p>
    
    <p><button type="button">Apagar Pedido</button></p>
    
    <p><button type="button">Retornar Pedido</button></p>
    
    <p><button type="button">Atualizar Pedido</button></p>
    
    <p><button type="button">Lista de Pedidos</button></p>

    <p><button type="button">Upload pdf</button></p>

    <p><button type="button">Numero infetados</button></p>
    
    <br>
    <br>
    <br>

    <h5>Lista de Pedidos por filtros</h5>

    <p><button type="button">Resultados do Teste</button></p>

    <p><button type="button">Estado do Teste</button></p>

    <p><button type="button">Estado do Utilizador</button></p>

    <p><button type="button">Informação</button></p>

    <p><button type="button">Número do cartão de cidadão</button></p>

    

    <p><button type="button">Resultados do Teste de um pedido</button></p>

    <p><button type="button">Estado do Teste de um pedido</button></p>

    <p><button type="button">Estado do Utilizador de um pedido</button></p>

    <p><button type="button">Informação de um Pedido</button></p>

    <p><button type="button">Número do cc de um Pedido</button></p>

    <br>
    <br>
    <br>

    <h5>Gestão dos testes</h5>
    <br>
    <button type="button">Agendar Teste</button>

    <p><button type="button">Editar Teste</button></p>
    
    <p><button type="button">Apagar Teste</button></p>
    
    <p><button type="button">Retornar Teste</button></p>
    
    <p><button type="button">Atualizar Teste</button></p>
    
    <p><button type="button">Lista de Testes</button></p>

    <p><button type="button">Numero de testes realizados por dia</button></p>

    <p><button type="button">Numero de testes realizados por pessoa</button></p>
    

    
    
    <br>
    <br>
    <br>

    <h5>Gestão dos utilizadores</h5>
    <br>
    <button type="button"> Criar utilizador</button>

    <p><button type="button">Editar utlizador</button></p>
    
    <p><button type="button">Ver utilizador</button></p>
    
    <p><button type="button">Ver utilizadores</button></p>

    
    <br>
    <br>
    <br>

    <h5>Gestão dos técnicos</h5>
    <br>
    <button type="button"> Criar técnico</button>

    <p><button type="button">Editar técnico</button></p>
    
    <p><button type="button">Ver técnico</button></p>
    
    <p><button type="button">Ver técnicos</button></p>
    
    <p><button type="button">apagar técnico</button></p>


    <br>
    <br>
    <br>

    <h5>Gestão dos admins</h5>
    <br>
    <button type="button"> Criar admin</button>
    
    <p><button type="button">Ver admin</button></p>
    
    <p><button type="button">Ver admins</button></p>
    
    <p><button type="button">apagar admin</button></p>
</body>

</html>